<div class="container">
  <%= link_to @record.end_user.name, end_user_path(@record.end_user_id) %></br>
  <%= attachment_image_tag @record, :image, fallback: "no-image.png", size:'200x200' %></br>
  <%= @record.title %></br>
  <%= @record.artist_name %></br>
  <%= @record.release_date.strftime("%Y") %></br>
  <%= @record.introduction %></br>
  <%= link_to "編集", edit_record_path(@record.id) %>
  <%= link_to "削除", record_path(@record.id), method: :delete %>

  <div>
    <%= form_with model:[@record, @post_comment] do |f| %>
      <%= f.text_area :comment, rows:'5', placeholder: "コメントを書いてください" %>
      <%= f.submit "送信" %>
    <% end %>
  </div>

  <div id="post_comment_<%= @record.id %>">
    <%= render  partial: 'post_comments/post_comment', locals: { post_comments: @post_comments } %>
  </div>

  <div id="favorites_buttons_<%= @record.id %>">
    <%= render partial: 'favorites/favorite', locals: { record: @record } %>
  </div>

</div>