<div class="text-center text-white mt-5">
  <h2 class="mb-5">メッセージ内容確認</h2>
  <h5 class="contact-content">お名前</h5>
  <h5 class="contact-content"><%= @contact.name %></h5></br>
  <h5 class="contact-content">メッセージ</h5>
  <h5 class="contact-content"><%= @contact.message %></h5>
      </tr>
    </tbody>
  </table>

  <%= form_with model: @contact, local: true do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :message %>
    <%= f.submit '送信', class: "btn btn-outline-light mt-5" %>
  <% end %>
  <%= form_with model: @contact, url: back_path, local: true do |f| %>
    <%= f.hidden_field :name %>
    <%= f.hidden_field :email %>
    <%= f.hidden_field :message %>
    <div><%= f.submit '入力画面に戻る', class: "btn btn-outline-light mt-3" %></div>
  <% end %>
</div>
