  <div class="text-center">
    <div>
      <%= image_tag 'main-logo2.png', class: "img-fluid mt-5" %>
    </div>

    <div class="about">
      <h1 class="main-title">あなたの大切な</br>レコードコレクションのために</h1>
    </div>
    <div class="login">
      <%= link_to image_tag("login-icon.png"), new_end_user_session_path %>
      <%= link_to image_tag("sign-up-icon.png"), new_end_user_registration_path %>
      <div class="contact terms-contact">
        <%= link_to "利用規約", terms_of_use_path, class: "text-white mr-3" %>
        <%= link_to "お問い合わせ", new_contact_path, class: "text-white ml-3" %>
      </div>
    </div>
  </div>