<div class="container">
  <h2>メッセージ一覧</h2>
  <% @another_entries.each do |another_entry| %>
    <table class="table table-striped">
      <tr>
        <td>
          <%= link_to room_path(another_entry.room.id) do %>
            <%= attachment_image_tag another_entry.end_user, :profile_image, fallback: "no-image.png", size: '60x60', class: "rounded-circle" %>
          <% end %>
          <%= link_to another_entry.end_user.name, room_path(another_entry.room.id) %>
        </td>
        <td class="text-white">
          <!-- 最新メッセージ内容の最初の7文字を表示する -->
          <% if another_entry.room.direct_message_ids.present? %>
            <% dm = DirectMessage.find_by(id: another_entry.room.direct_message_ids.last).message %>
            <%= truncate(dm, length: 10) %>
          <% else %>
            <p class="text-danger">メッセージを送信しまよう</p>
          <% end %>
        </td>
        <td>
          <h6 style="color: #C0C0C0;"><%= another_entry.updated_at.strftime("%Y/%m/%d %H:%M") %></h6>
        </td>
        <td>
          <%= link_to room_path(another_entry.room.id), method: :delete do %>
            <i class="fas fa-trash" style="color: white;"></i>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
</div>