<div class="container bg-color">
  <div class="text-center mb-3 new-collection">
    <% if @end_user == current_end_user %>
      <%= link_to image_tag("new-collection.png"), new_record_path, class: "img-fluid new-collection-icon" %>
    <% else %>
      <%= link_to end_user_path(@end_user.id) , class: "mr-3" do %>
        <%= attachment_image_tag @end_user, :profile_image, fallback: "no-image.png", size: '100x100', class: "rounded-circle" %>
      <% end %>
    <% end %>
  </div>
  <div class="mb-5 d-flex justify-content-center flex-wrap">
    <% @records.each do |record| %>
      <%= link_to record_path(record.id), class: "my-record" do %>
        <%= attachment_image_tag record, :image, fallback: "no-image.png", size:'200x200', class: "mb-2 shadow" %>
      <% end %>
    <% end %>
  </div>
</div>