<!DOCTYPE html>
<html>
  <head>
    <title>RecordCollection</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if end_user_signed_in? %>
      <%= render 'layouts/header' %>
    <% end %>
    <%= yield %>
    <% if end_user_signed_in? %>
      <%= render 'layouts/footer' %>
    <% end %>
  </body>
</html>
